/* common style */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}

#app {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(216, 219, 214, 1) 83%,
    rgba(0, 150, 136, 1) 83%
  );
}

.wrapper {
  margin: auto;
  display: flex;
  width: 1396px;
  min-width: 950px;
  height: 95%;
  overflow: hidden;
}

.container-right {
  width: 100%;
  height: 100%;
}

/* end common style */

/* utility style */

.box-settings-icon span {
  color: #b1b1b1;
  padding: 0 8px;
  font-size: 20px;
  cursor: pointer;
}

/* end utility style */

/* sidebar style */

.container-sidebar {
  height: 100%;
  width: 35%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid #e6e6e6;
}

/* user */
.row-user-settings {
  background: #ededed;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.img-user {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.img-user img {
  border-radius: 50%;
  width: 100%;
}

/* notification */
.row-notification {
  display: flex;
  padding: 10px;
  align-items: center;
  background: #8edafc;
  cursor: pointer;
}

.row-notification .bell {
  display: flex;
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 50%;
}

.row-notification .bell i {
  margin: auto;
  font-size: 20px;
  color: #8edafc;
}

.row-notification p {
  padding: 0 5px;
  font-size: 12px;
  width: max-content;
  font-weight: 500;
}

.row-notification p:last-child {
  color: #44829f;
  font-weight: 400;
  text-decoration: underline;
}

/* search chat */
.row-search-chat {
  background: #fafafa;
  padding: 7px;
}

.box-search-chat {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);
  border-radius: 2px;
}

.box-search-chat .search {
  color: #b1b1b1;
  padding: 0 8px;
  font-size: 13px;
  cursor: pointer;
}

.box-search-chat input {
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  font-size: 12px;
}

.box-search-chat input::placeholder {
  color: #b1b1b1;
  font-weight: 500;
}

/* contact list */
.box-contact-list {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.row-contact-list {
  overflow-y: auto;
}

.box-contact-list:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.box-contact-list:focus-within {
  background: #333;
}

.box-contact-list p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.img-contact-list {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.img-contact-list img {
  width: 100%;
  border-radius: 50%;
}

.data-contact-list {
  width: 100%;
}

.data-contact-list span:nth-child(2) {
  float: right;
  font-size: 11px;
  color: #bcbcbc;
  font-weight: 400;
}

.data-contact-list div {
  padding-top: 3px;
  font-size: 14px;
  color: #bcbcbc;
  font-weight: 4;
}

/* end sidebar style */

/* main style */

.main {
  width: 100%;
  height: calc(100% - 70px);
  background: #333;
  background-image: url("../img/mine.jpg");
}

/* contact selected */
.row-contact-setting {
  background: #ededed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-contact-selected {
  display: flex;
  align-items: center;
}

.box-contact-selected .data-contact p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.box-contact-selected .data-contact p:last-child {
  font-size: 11px;
  color: #bcbcbc;
  font-weight: 400;
}

.img-contact {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.img-contact img {
  width: 100%;
  border-radius: 50%;
}

/* message container */
.row-message {
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.message-sent {
  display: flex;
  flex-direction: row-reverse;
}

.message-received {
  display: flex;
}

.message-received .angle-down {
  background: #ffffff;
}

.message-sent .angle-down {
  background: radial-gradient(
    circle,
    rgba(220, 248, 198, 1) 80%,
    rgba(220, 248, 198, 0.7) 20%
  );
}

.message-received p {
  position: relative;
  background: #ffffff;
  font-size: 12px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
}

.angle-down {
  top: 2px;
  right: 5px;
  position: absolute;
  height: 30px;
  width: 30px;
  display: none;
}

.angle-down i {
  font-size: 25px;
  color: #b1b1b1;
  margin: auto;
}

.message p:hover .angle-down {
  display: flex;
}

.message-sent p {
  position: relative;
  background: #dcf8c6;
  font-size: 12px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  max-width: 400px;
  word-break: break-all;
}

.data {
  margin-left: 20px;
  color: #b1b1b1;
  font-size: 10px;
  display: inline-block;
  transform: translateY(10px);
}

.delete-message {
  display: flex;
  width: 150px;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  top: 25px;
  right: 0;
  z-index: 10000;
  flex-direction: column;
  border-radius: 5px;
}

.delete-message span {
  margin: auto;
  padding: 10px;
  cursor: pointer;
}

/* end main style */

/* bottom style */

.bottom {
  width: 100%;
  height: 70px;
  background: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom span {
  color: #808080;
  font-size: 20px;
  cursor: pointer;
}

.input-message {
  width: 90%;
  height: 70%;
  padding: 0 5px;
}

.input-message input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.input-message input::placeholder {
  color: #b1b1b1;
  font-weight: 500;
}

/* end bottom style */
