/* common style */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}

#app {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(216, 219, 213);
  background: linear-gradient(
    0deg,
    rgba(216, 219, 213, 1) 80%,
    rgba(29, 190, 165, 1) 80%
  );
}

.wrapper {
  margin: auto;
  display: flex;
  width: 80%;
  min-width: 950px;
  height: 95%;
  overflow: hidden;
}

.container-right {
  width: 100%;
  height: 100%;
}

/* end common style */

/* sidebar style */

.container-sidebar {
  height: 100%;
  width: 35%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

/* user */
.row-user-settings {
  background: #eaeaea;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.img-user {
  height: 45px;
  width: 45px;
}

.img-user img {
  border-radius: 50%;
  width: 100%;
}

.box-settings-user span {
  color: #b1b1b1;
  padding: 0 8px;
  font-size: 18px;
}

/* notification */
.row-notification {
  display: flex;
  padding: 10px;
  align-items: center;
  background: #8edafc;
}

.row-notification .bell {
  display: flex;
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 50%;
}

.row-notification .bell i {
  margin: auto;
  font-size: 20px;
  color: #8edafc;
}

.row-notification p {
  padding: 0 5px;
  font-size: 12px;
  width: max-content;
  font-weight: 500;
}

.row-notification p:last-child {
  color: #44829f;
  font-weight: 400;
  text-decoration: underline;
}

/* search chat */
.row-search-chat {
  background: #fafafa;
  padding: 7px;
}

.box-search-chat {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);
  border-radius: 2px;
}

.box-search-chat .search {
  color: #b1b1b1;
  padding: 0 8px;
  font-size: 13px;
}

.box-search-chat input {
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  font-size: 12px;
}

.box-search-chat input::placeholder {
  color: #b1b1b1;
  font-weight: 500;
}

/* contact list */
.box-contact {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.row-contact-list {
  overflow-y: scroll;
}

.img-contact {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.img-contact img {
  width: 100%;
  border-radius: 50%;
}

/* end sidebar style */

/* main style */

.main {
  width: 100%;
  height: calc(100% - 100px);
  background: #333;
  background-image: url("../img/mine.jpg");
}

/* end main style */

/* bottom style */

.bottom {
  width: 100%;
  height: 100px;
  background: #f3eeea;
}

/* end bottom style */
